name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v5

      # Release Please
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: node

      # Release Build
      - uses: pnpm/action-setup@v4
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v4
        if: ${{ steps.release.outputs.release_created }}
        with:
          node-version: 22.x
          cache: pnpm
      - name: Build
        if: ${{ steps.release.outputs.release_created }}
        run: |
          pnpm install
          pnpm build
      - name: Upload Release Artifact
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ steps.release.outputs.tag_name }} ./dist/index.html

